.formSection {
    padding-top: 128px;
    height: 800px;
    &__text {
        height: 176px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 768px;
    }

    &__title {
        font-family: Inter;
        font-size: 16px;
        font-weight: 900;
        line-height: 20px;
        letter-spacing: 3px;
    }

    &__subtitle {
        font-family: Sen;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
    }

    &__info {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #6D6E76;
    }

    &__size {
        height: 626px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.form {
    height: 350px;
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__input {
        width: 768px;
        height: 76px;
    }
}

@media  screen and (max-width: 768px) {
    .formSection {
        &__text {
            width: 600px;
        }
    }

    .form {
        width: 600px;

        &__input {
            width: 600px;
        }
    }
}


@media  screen and (max-width: 567px) {
    .formSection {
        &__text {
            width: 500px;
        }
    }

    .form {
        width: 500px;

        &__input {
            width: 500px;
        }
    }
}