.teamContent {
    height: 364px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 1133px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    &__main {
        background-color: white;
        width: 624px;
        padding-top: 64px;
        padding-left: 64px;

        &__title {
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 3px;
            text-align: left;

        }

        &__subtitle {
            font-family: Sen;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -2px;
            text-align: left;

        }
    }

    &__text {
        width: 409px;
        padding-top: 64px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #4C4C4C;
    }
}

@media screen and (max-width: 768px) {
    .teamContent {
        width: 640px;
        height: 200px;

        &__main {
            padding-top: 64px;
            
    
            &__title {
                font-family: Inter;
                font-size: 13px;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 3px;
                text-align: left;
    
            }
    
            &__subtitle {
                font-family: Sen;
                font-size: 20px;
                font-weight: 700;
                line-height: 64px;
                letter-spacing: -2px;
                text-align: left;
    
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .teamContent__text {
        display: none;
    }

    .teamContent {
        width: 400px;
    }
}