@import '../../style/components-style.scss';

.header {
    height: 80px;
    background-color: $purple-color;

    &-line {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        width: 516px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__point {
            color: white;
            text-decoration: none;
            font-family: Inter;
        }
    }

    &--open {
        height: 200px;
    }
}



.logo {
    color: white;
}

.burger-menu {
    display: none;
    width: 40px;
    height: 30px;
}

.burger-bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;

    &:nth-child(2) {
        margin-top: 10px;
    }

    &:nth-child(3) {
        margin-top: 10px;
    }
}




@media  screen and (max-width: 768px) {
    .header__nav {
        width: 420px;
        &__point {
            font-family: 13px;
        }
    }
}

@media screen and (max-width: 576px) {
    .header__nav {
        width: 100%;
        position: absolute;
        display: none;
        justify-content: first baseline;
        margin-top: 200px;
    }

    .header__line {
        flex-direction: column;
    }

    .burger-menu {
        display: block;
    }

    .header__nav--open {
        display: flex;
    }

}
