@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter_28pt-Light.ttf);
}

@font-face {
    font-family: 'Sen';
    src: url(../../assets/fonts/Sen-medium.ttf);
}

$purple-color:  #232536;

$orange-color: #FFD050;